# OS
.DS_Store
package-lock.json

# Environment
.env
.venv/
venv/
backend/venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Data pipeline artifacts
backend/data/
*.npy

# Node
frontend/node_modules/
frontend/dist/

# Actian VectorDB data
actian-vectordb/data/

# IDEs
.vscode/
.idea/
